.entry-title {
  color: var(--entry-header--color);
  font-size: var(--entry-header--font-size);
  letter-spacing: var(--heading--letter-spacing-h2);
  line-height: var(--heading--line-height-h2);
  overflow-wrap: break-word;

  a {
    color: var(--entry-header--color-link);
    text-underline-offset: 0.15em;

    &:hover {
      color: var(--entry-header--color-hover);
    }

    &:focus {
      color: var(--entry-header--color-focus);
    }

    &:active {
      color: var(--entry-header--color-link);
    }
  }
}

.singular .entry-title {
  font-size: var(--global--font-size-page-title);
}
.entry-header {
  .post-categories {
    list-style: none;

    padding: 0;
    li {
      padding-right: 1rem;
      display: inline;
      a {
        color: var(--global--color-gray);
        font-family: var(--global--font-primary);
        font-style: italic;
        :hover {
          color: var(--global--color-dark-gray);
        }
      }
    }
  }
}
h1.entry-title {
  line-height: var(--heading--line-height-h1);
  font-weight: var(--heading--font-weight-page-title);
}
.entry-author {
  font-family: var(--global--font-secondary);
}
.entry-excerpt {
  font-style: italic;
  font-weight: 400;
  color: var(--global--color-gray);
}
.entry-date {
  font-family: var(--global--font-secondary);
  color: var(--global--color-gray);
}
/**
 * Entry Content
 */

.entry-content,
.entry-summary {
  font-family: var(--entry-content--font-family);
}

.entry-content {
  p {
    word-wrap: break-word;
  }

  // Overwrite iframe embeds that have inline styles.
  > iframe[style] {
    margin: var(--global--spacing-vertical) 0 !important;
    max-width: 100% !important;
  }

  // Classic editor audio embeds.
  .wp-audio-shortcode {
    @extend %responsive-aligndefault-width;
  }
}

//Cover Image Post
header.cover.entry-header {
  height: clamp(60vw, 100%, 60vh);
  @include media(desktop) {
    display: grid;
    grid-template-columns: clamp(300px, 700px, 50%);
  }
  .cover--img {
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 100% !important;
    max-width: 100% !important;
    object-fit: cover;
    @include media(laptop) {
      z-index: -1;
      max-height: 80vh;
      object-fit: cover;
      object-position: center top;
    }
  }
  .cover--content {
    grid-row: 1;
    grid-column: 1;
    background-color: #fff;
    padding: 2rem var(--responsive--spacing-horizontal);
    height: min-content;
    align-self: end;
    @include media(laptop) {
      margin: 0 0 calc(2 * var(--global--spacing-vertical)) 0;
    }
  }
}
//align the post-info with the post-content for standard posts
.post-info {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--global--spacing-horizontal);
  @include media(tablet) {
    padding: 0;
  }
}
//Related Posts
.related-articles {
  display: block;
  @include media(desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--responsive--spacing-horizontal);
  }
  &--heading {
    border-bottom: 3px solid var(--global--color-primary);
  }
  &--item {
    display: block;
    flex-direction: column;
    margin: 1rem var(--responsive--);
    @include media(tablet) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      img {
        padding-right: var(--responsive--spacing-horizontal);
        object-fit: cover;
      }
    }
    @include media(desktop) {
      display: block;
      margin: 1rem 0;
      img {
        display: block;
        padding-right: 0;
      }
    }
    &--img {
      //refers to the LINK, and img is inside.
      display: block;
      width: 100%;
    }
    &--title {
      line-height: 1;
      padding: 1rem 0;
    }

    &--link {
      padding-top: 1rem;
      text-align: right;
    }
  }
}
// Center the Galleries
.ngg-imagebrowser.default-view {
  max-width: 100% !important;
}
// Extra specificity to override rules in _vertical-margins.scss
.site-main > article > .entry-footer {
  margin-top: var(--global--spacing-vertical);
  padding-top: var(--global--spacing-unit);
  padding-bottom: calc(3 * var(--global--spacing-vertical));
  //border-bottom: var(--separator--height) solid var(--separator--border-color);
}

body:not(.single) .site-main > article:last-of-type .entry-footer {
  //border-bottom: var(--separator--height) solid transparent;
}

.single .site-main > article > .entry-footer {
  margin-top: calc(3.4 * var(--global--spacing-vertical));
  margin-bottom: calc(3.4 * var(--global--spacing-vertical));
  padding-bottom: 0;
  padding-top: calc(0.8 * var(--global--spacing-vertical));
  //border-top: 3px solid var(--separator--border-color);
  //border-bottom: var(--separator--height) solid transparent;
  //display: grid;
  //grid-template-columns: repeat(2, 1fr);
  //column-gap: calc(2 * var(--global--spacing-horizontal));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .post-taxonomies,
  .full-size-link,
  .posted-by {
    justify-content: center;
    text-align: center;
    width: 100%;
    a {
      color: var(--global--color-gray);
      &:hover {
        color: var(--global--color-dark-gray);
      }
    }
  }

  .full-size-link:first-child:last-child {
    grid-column: span 2;
  }

  .posted-on,
  .byline,
  .cat-links,
  .tags-links {
    display: block;
  }

  @include media(mobile-only) {
    display: block;

    .full-size-link {
      display: block;
    }

    .post-taxonomies,
    .full-size-link {
      text-align: left;
    }
  }
}

// Background img for footer
.site {
  background-image: url("https://mjdasset.s3.us-west-2.amazonaws.com/wp-content/uploads/2021/08/19143344/footer-no-crop.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 45vw;
}

/**
 * Post Thumbnails
 */

.post-thumbnail {
  //@extend %responsive-aligndefault-width;
  width: 100%;
  text-align: center;

  .entry-header &,
  .singular & {
    //@extend %responsive-alignwide-width-nested;
  }

  .wp-post-image {
    display: block;
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    //margin-top: calc(2 * var(--global--spacing-vertical));
  }
}

/**
 * Author
 */

.author-bio {
  position: relative;
  font-size: var(--global--font-size-xs);
  max-width: var(--responsive--aligndefault-width);

  .site-main > article > & {
    margin-top: calc(2 * var(--global--spacing-vertical));
  }

  // Avatars are optional and can be turned off.
  &.show-avatars {
    .avatar {
      display: inline-block;
      vertical-align: top;
      border-radius: 50%;
    }

    .author-bio-content {
      display: inline-block;
      padding-left: var(--global--spacing-horizontal);
      max-width: calc(var(--responsive--aligndefault-width) - 90px);
    }
  }

  .author-bio-content {
    .author-title {
      font-family: var(--entry-author-bio--font-family);
      font-size: var(--entry-author-bio--font-size);
      display: inline;
    }

    .author-description {
      font-size: var(--global--font-size-xs);
      margin-top: calc(0.5 * var(--global--spacing-vertical));
      margin-bottom: calc(0.5 * var(--global--spacing-vertical));
    }
  }
}
