.sticky {
  // This class is required to pass ThemeCheck.
}

.no-results.not-found > *:first-child {
  margin-bottom: calc(3 * var(--global--spacing-vertical));
}

// Styling for wp_link_pages.
.page-links {
  clear: both;

  .post-page-numbers {
    display: inline-block;
    margin-left: calc(0.66 * var(--global--spacing-unit));
    margin-right: calc(0.66 * var(--global--spacing-unit));
    min-width: 44px;
    min-height: 44px;

    &:first-child {
      margin-left: 0;
    }
  }
}

// FedRadio Category styling
iframe.spreaker-player {
  grid-column: 1 / -1;
}

.inline-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  @include media(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
  li {
    padding-top: var(--global--spacing-vertical);
  }
}

//FRONT PAGE STYLING
.wp-block-columns.front-page {
  gap: var(--global--spacing-vertical);
  &:nth-child(1) {
    @include media(laptop) {
      order: 2;
    }
  }
  &:nth-child(2) {
    @include media(laptop) {
      order: 1;
    }
  }
  &:nth-child(3) {
    @include media(laptop) {
      order: 3;
    }
  }
  &:not(:first-child) {
    margin-left: 0;
  }
}
