.sticky {
  // This class is required to pass ThemeCheck.
}

.no-results.not-found > *:first-child {
  margin-bottom: calc(3 * var(--global--spacing-vertical));
}

// Styling for wp_link_pages.
.page-links {
  clear: both;

  .post-page-numbers {
    display: inline-block;
    margin-left: calc(0.66 * var(--global--spacing-unit));
    margin-right: calc(0.66 * var(--global--spacing-unit));
    min-width: 44px;
    min-height: 44px;

    &:first-child {
      margin-left: 0;
    }
  }
}

// FedRadio Category styling
iframe.spreaker-player {
  grid-column: 1 / -1;
}

.inline-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  @include media(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
  li {
    padding-top: var(--global--spacing-vertical);
  }
}

//FRONT PAGE STYLING
.wp-block-columns.front-page {
  //position feature col in the minddle on laptop and up
  gap: calc(var(--global--spacing-vertical) / 2);
  border-bottom: 2px var(--global--color-primary) solid;
  .wp-block-column:nth-child(1) {
    height: 100%;
    @include media(laptop) {
      order: 2;
      border-left: 2px var(--global--color-primary) solid;
      padding-left: calc(var(--global--spacing-vertical) / 2);
      border-right: 2px var(--global--color-primary) solid;
      padding-right: calc(var(--global--spacing-vertical) / 2);
    }
    article:nth-child(2) {
      @include media(laptop) {
        //the article under the featured one
        h2.entry-title {
          font-size: var(--heading--font-size-h2);
        }
        .entry-excerpt {
          display: none;
        }
      }
    }
  }
  .wp-block-column:nth-child(2) {
    //left col
    @include media(laptop) {
      h2.entry-title {
        font-size: var(--heading--font-size-h4);
      }
      .entry-excerpt {
        display: none;
      }
    }
    @include media(laptop) {
      order: 1;
    }
  }
  .wp-block-column:nth-child(3) {
    //right col
    @include media(laptop) {
      order: 3;
    }
    @include media(laptop) {
      h2.entry-title {
        font-size: var(--heading--font-size-h3);
      }
      .entry-excerpt {
        display: none;
      }
    }
  }
  .wp-block-column:not(:first-child) {
    margin-left: 0;
  }
  .wp-block-column article:last-child {
    border-bottom: none;
  }
  .wp-block-column article {
    border-bottom: 1pt var(--global--color-primary) solid;
    padding-bottom: var(--global--spacing-vertical);
    &.front-page-below-featured {
      @include media(laptop) {
        img {
          display: none;
        }
      }
    }
  }
}

//FEDRADIO FRONT PAGE BLOCK
.front-page-fedradio {
  display: flex;
  flex-wrap: wrap;
  gap: var(--global--spacing-horizontal);
  &--info {
    display: flex;
    flex: 1 1 30%;
    flex-wrap: wrap;
    align-items: flex-start;
    //justify-content: center;
    align-content: center;
    gap: var(--global--spacing-horizontal);
    &--link {
      flex: 1 1 130px;
      max-width: 150px;
    }
    &--container {
      flex: 1 2 60%;
    }
  }
  &--post {
    display: flex;
    flex: 1 1 60%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: var(--global--spacing-horizontal);
    &--img {
      flex: 1 1 200px;
    }
    &--content {
      flex: 2 1 60%;
    }
  }
}

//FEATURED VIDEOS AND ARTICLES BLOCKS
.accordion-tabs {
  &--nav {
  }
  &--item {
    &#latest-video,
    &#wayback-video {
      &:not([hidden="hidden"]) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--global--spacing-vertical);
        article {
          flex: 1 0 350px;
          display: flex;
          flex-wrap: wrap;
          display: flex;
          column-gap: var(--global--spacing-horizontal);
          height: 100%;
          a {
            flex: 2 1 170px;
            height: min-content;
          }
          div.post-info {
            flex: 2 1 270px;
          }
          h3 {
            font-size: var(--heading--font-size-h3);
          }
        }
      }
    }
    &#featured-video:not([hidden="hidden"]) {
      display: flex;
      gap: var(--global--spacing-vertical);
      flex-direction: column;
      @include media(tablet) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
      }
      article:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / -1;
        flex-grow: 2;
        .post-info {
          h3 {
            font-size: var(--heading--font-size-h2);
          }
        }
      }
      article:nth-child(2),
      article:nth-child(3) {
        flex-grow: 1;
        .post-info {
          h3 {
            font-size: var(--heading--font-size-h4);
          }
          p {
            @include media(tablet) {
              display: none;
            }
          }
        }
      }
    }
    &#latest-article,
    &#featured-article,
    &#wayback-article {
      &:not([hidden="hidden"]) {
        display: flex;
        flex-wrap: wrap;
        gap: var(--global--spacing-horizontal);
        article {
          flex: 1 1 450px;
          display: flex;
          flex-wrap: wrap;
          gap: var(--global--spacing-horizontal);
          align-items: center;
          a {
            flex: 1 1 200px;
          }
          div {
            flex: 2 1 250px;
            h3 {
              font-size: var(--heading--font-size-h3);
            }
          }
        }
      }
    }
  }
}
