.sticky {
  // This class is required to pass ThemeCheck.
}

.no-results.not-found > *:first-child {
  margin-bottom: calc(3 * var(--global--spacing-vertical));
}

// Styling for wp_link_pages.
.page-links {
  clear: both;

  .post-page-numbers {
    display: inline-block;
    margin-left: calc(0.66 * var(--global--spacing-unit));
    margin-right: calc(0.66 * var(--global--spacing-unit));
    min-width: 44px;
    min-height: 44px;

    &:first-child {
      margin-left: 0;
    }
  }
}

// FedRadio Category styling
iframe.spreaker-player {
  grid-column: 1 / -1;
}

.inline-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  @include media(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
  li {
    padding-top: var(--global--spacing-vertical);
  }
}

//FRONT PAGE STYLING
.wp-block-columns.front-page {
  //position feature col in the minddle on laptop and up
  gap: calc(var(--global--spacing-vertical) / 2);
  border-bottom: 2px var(--global--color-primary) solid;
  .wp-block-column:nth-child(1) {
    @include media(laptop) {
      order: 2;
      border-left: 2px var(--global--color-primary) solid;
      padding-left: calc(var(--global--spacing-vertical) / 2);
      border-right: 2px var(--global--color-primary) solid;
      padding-right: calc(var(--global--spacing-vertical) / 2);
    }
    article:nth-child(2) {
      @include media(laptop) {
        //the article under the featured one
        h2.entry-title {
          font-size: var(--heading--font-size-h2);
        }
        .entry-excerpt {
          display: none;
        }
      }
    }
  }
  .wp-block-column:nth-child(2) {
    //left col
    @include media(laptop) {
      h2.entry-title {
        font-size: var(--heading--font-size-h4);
      }
      .entry-excerpt {
        display: none;
      }
    }
    @include media(laptop) {
      order: 1;
    }
  }
  .wp-block-column:nth-child(3) {
    //right col
    @include media(laptop) {
      order: 3;
    }
    @include media(laptop) {
      h2.entry-title {
        font-size: var(--heading--font-size-h2);
      }
      .entry-excerpt {
        display: none;
      }
    }
  }
  .wp-block-column:not(:first-child) {
    margin-left: 0;
  }
  .wp-block-column:last-child {
    border-bottom: none;
  }
  .wp-block-column article {
    border-bottom: 1pt var(--global--color-primary) solid;
    padding-bottom: var(--global--spacing-vertical);
    &.front-page-below-featured {
      @include media(laptop) {
        img {
          display: none;
        }
      }
    }
  }
}

//FEDRADIO FRONT PAGE BLOCK
.front-page-fedradio {
  display: flex;
  flex-direction: column;
  @include media(tablet) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  &--info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      height: min-content;
      width: 40%;
    }
  }
  &--post {
    display: flex;
  }
}
